@charset "utf-8";

.heading-underline {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
  }
  
  @media (max-width: 992px) {
    #about-ingredients,
    #about-location {
      margin-top: 0 !important;
    }
  
    #about-location-txt {
      padding-top: 0 !important;
    }
  }
  
  @media (max-width: 768px) {

    #about h3 {
      margin-bottom: 1.5rem !important; /* mb-4 */
    }

    #about-coffee-txt {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
      padding-bottom: 1.5rem !important;
    }
    
    #about-ingredients-txt {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
      padding-bottom: 1.5rem !important;
      margin-top: 0 !important;

    }
    
    #about-location-txt {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
      padding-bottom: 1.5rem !important;
    }
  }