.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Default styles for XS screens */
#about h3 {
  margin-bottom: 1.5rem; /* mb-4 */
}

#about-coffee-txt,
#about-ingredients-txt,
#about-location-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#about-coffee-txt,
#about-ingredients-txt {
  padding: 3rem 0.5rem 1.5rem 0.5rem;
}

#about-location-txt {
  padding: 0rem 0.5rem 1.5rem 0.5rem;
}

/* Medium screens (>768px) */
@media (min-width: 992px) {
  #about h3 {
    margin-bottom: 3rem;
  }

  #about-coffee-txt {
    padding: 3rem 3rem 0rem 3rem;
  }

  #about-ingredients {
    margin-top: 2rem;
  }

  #about-location {
    margin-top: 3rem;
  }

  #about-ingredients-txt,
  #about-location-txt {
    padding: 3rem;
  }
}