input:focus,
textarea:focus {
  border-color: black !important;
  box-shadow: none !important;
  outline: none;
}

.book-btn:hover {
  transform: scale(1.1);
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#book-form textarea {
  resize:none;
}

@media(max-width: 400px) {
  #book-form input,
  #book-form input::placeholder,
  .book-btn {
    font-size: 18px !important;
  }

  #book {
    padding-bottom: 5rem !important;
  }
}