@charset "utf-8";

/* BS5 focus effect */
#book-form input:focus,
#book-form textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.book-btn:hover {
  transform: scale(1.1);
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* BS5 focus effect */
.book-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#book-form textarea {
  resize:none;
}

@media(max-width: 400px) {
  #book-form input,
  #book-form input::placeholder,
  .book-btn {
    font-size: 18px !important;
  }

  #book {
    padding-bottom: 5rem !important;
  }
}