input:focus,
textarea:focus {
  border-color: black !important;
  box-shadow: none !important;
  outline: none;
}

.book-btn:hover {
  transform: scale(1.2);
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@media(max-width: 400px) {
  #book-form input,
  #book-form input::placeholder,
  .book-btn {
    font-size: 18px !important;
  }
}