@media (max-width: 992px) {
    .contact-hr {
      width: 100% !important;
    }
  }
  
  .contact-link {
    font-size: 1.3rem;
    color: grey;
  }

  .contact-link:hover {
    opacity: 0.9;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  #currentDayHours:hover,
  #contactHoursDropdown:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }


#contactHoursDropdown {
    position: relative;
    text-align: center;
    display:inline-block;
}

#contactHoursDropdown span {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  left: 100%; 
  margin-left: 5px; 
}


  