@media (max-width: 992px) {
    .contact-hr {
      width: 100% !important;
    }
  }
  
  .contact-link {
    font-size: 1.3rem;
    color: grey;
  }

  .contact-link:hover {
    opacity: 0.8;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  #currentDayHours:hover,
  #contactHoursDropdown:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }


#contactHoursDropdown {
    position: relative; /* Establishes a positioning context */
    text-align: center;
    display:inline-block;
}

#contactHoursDropdown span {
  position: absolute; /* Removes the icon from the flow so it doesn't push the text */
  top: 50%; /* Vertically centers the icon relative to the text */
  transform: translateY(-50%); /* Ensures perfect vertical alignment */
  left: 100%; /* Positions the icon immediately to the right of the text */
  margin-left: 5px; /* Adds a small gap between the text and the icon */
}


  