
  .menu-link {
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 0;
  }

  .tab-content {
    box-shadow: none !important;
  }

  .menu-link.active {
    background-color: #FFFFFF !important;
    opacity: 1 !important;
  }

  .menu-link:hover {
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  @media (max-width: 400px) {
    .menu-link {
      font-size: 13px !important;
    }
  }

  @media(max-width: 768px) {
    .menu-card {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
    
    .menu-badge {
      margin-top: 5px !important;
      margin-left: 0 !important;
    }
  }

  #menu-container {
    width: 75% !important;
}

@media (max-width: 992px) {
  #menu-container {
      width: 100% !important;
  }
}

.menu-badge {
  margin: 0 !important;
}

.menu-price {
  display: inline-block !important;
  margin: 0 auto !important;
  vertical-align: middle;
  line-height: normal;
}

.diet-span {
  color: grey;
  letter-spacing: 1px;
  padding-left: 5px !important;
  padding-right: 5px !important;
}