.menu-item {
    overflow: hidden;
  }

  .menu-link {
      font-weight: bold;
      transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .menu-link:hover {
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  @media (max-width: 400px) {
    .menu-link {
      font-size: 13px !important;
    }
  }


  @media(max-width: 768px) {
    .menu-card {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
    
    .menu-badge {
      margin-top: 5px !important;
      margin-left: 0 !important;
    }
  }

  /*@media(max-width: 1400px) {
    #menu-container {
      width: 50% !important;
    }
  }*/