@charset "utf-8";

/* Navbar Styles */
html {
    scroll-padding-top: 70px;
  }
  
  nav {
    height: 70px;
  }
  
  .nav-a {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    width: 10rem;
  }
  
  .nav-a:hover {
    opacity: 0.9;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #198754;
  }
  
  .nav-btn {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    
  }

  .nav-btn a {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  
  .nav-btn a:hover {
    opacity: 0.9;
    transform: scale(1.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

    /* BS5 focus effect */
    .nav-btn a:focus-visible {
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  
  @media (max-width: 1200px) {
    .nav-a {
      width: 8rem !important;
    }
  }
  
  @media (max-width: 992px) {
    .nav-a {
      width: 6rem !important;
    }
  }
  
  @media (max-width: 800px) {
    .nav-a {
      width: auto !important;
      margin: 0 5px !important;
    }
  }
  
  @media (max-width: 767px) {
    #collapsible-navbar {
      flex-direction: column !important;
      align-items: center !important;
      text-align: center;
      margin-top: 5px;
      padding-bottom: 8px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    }

    .nav-li {
        width: 100% !important;
    }

    .nav-a:hover {
        opacity: 0.9;
        transform: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-color: #198754
      }

    .nav-btn {
      position: relative !important;
      display: inline-block;
      top: auto !important;
      right: auto !important;
      transform: none !important;
      width: 100%;
      margin-top: 5px;
    }

    .nav-btn a:hover {
        opacity: 0.8;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
  }

  @media (max-width: 576px) {
    .nav-a {
      font-size: 16px !important;
    }

    .nav-btn {
      font-size: 14px !important;
    }
  }