@charset "utf-8";

html {
    scroll-padding-top: 70px;
}
  
nav {
  height: 70px;
}

/* Default styles for small devices */ 
#collapsible-navbar {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  padding-top: 4px;
  padding-bottom: 8px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); /* BS5 shadow-lg */
}

.nav-a {
  font-weight: 600;
  font-size: 16px; 
  letter-spacing: 0.5px;
  width: auto;
  }
 
.nav-a:hover {
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: #198754;
}

.nav-book {
  position: relative;
  display: inline-block;
  top: auto;
  right: auto;
  transform: none;
  margin-top: 5px;
}

#nav-btn {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 8px 12px;
}
  
#nav-btn:hover {
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* BS5 focus effect */
#nav-btn:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* Medium screens (>768px) */
@media (min-width: 768px) {

  #collapsible-navbar {
    min-height: 70px;
    flex-direction: row;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-a {
    width: 6rem;
  }

  .nav-a:hover {
    transform: scale(1.1);
  }

  .nav-book {
    position: absolute !important; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    margin-top: 0;  
  }

  #nav-btn:hover {
    transform: scale(1.1);
  }
}

/* Large screens (>992px) */
@media (min-width: 992px) {
  .nav-a {
    width: 8rem;
    font-size: 18px;
  }

  #nav-btn {
    font-size: 16px;
  }
}

/* Extra-large screens (≥1200px) */
@media (min-width: 1200px) {
  .nav-a {
    width: 10rem;
  }
}