@charset "utf-8";

/* Shared Styles */
.subheading-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.subheading {
  font-weight: 500;
  letter-spacing: 0.25px;
  background-color: #212529;
  color: #fff;
  padding: 4px 16px;
}

.heading-underline {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

.btn-gradient {
  background: linear-gradient(to bottom, #198754 90%, #145a32 90%);
  color: white;
  border: none;
  padding: 8px 15px;
}

/* Padding */
.pt-5rem {
  padding-top: 5rem;
}

.pb-5rem {
  padding-bottom: 5rem;
}

/* Fonts - let BS5 handle font sizes for all screen widths > small */
p {
  font-size: 1.3rem;
  color: grey;
}

/* Small screens (<576px) */ 
@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }

  h3 {
      font-size: 22px;
  }

  h4 {
      font-size: 20px;
  }

  h5 {
      font-size: 18px;
  }

  p {
      font-size: 18px;
  }
}