@charset "utf-8";

/* Font Styles */


/* Shared Styles */
p {
  font-size:1.3rem;
  color: grey;
}

.letter-spacing {
  letter-spacing: 0.5px;
}

.btn-gradient {
  background: linear-gradient(to bottom, #198754 90%, #145a32 90%);
  color: white;
  border: none;
  padding: 8px 15px;
}

/* Padding & Margin classes */
.pt-5rem {
  padding-top: 5rem !important;
}

.pb-5rem {
  padding-bottom: 5rem !important;
}

.pb-8rem {
  padding-bottom: 8rem !important;
}

/* Resize font-size for smaller displays */
@media (max-width: 400px) {
  h1 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 18px !important;
  }

  p {
    font-size: 18px !important;
  }
}