@charset "utf-8";

/* Shared Styles */
p {
  font-size:1.3rem;
  color: grey;
}

.subheading-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.subheading {
  font-weight: 500;
  letter-spacing: 0.25px;
  background-color: #212529;
  color: #fff;
  padding: 4px 16px;
}

.heading-underline {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

.btn-gradient {
  background: linear-gradient(to bottom, #198754 90%, #145a32 90%);
  color: white;
  border: none;
  padding: 8px 15px;
}

.pt-5rem {
  padding-top: 5rem !important;
}

.pb-5rem {
  padding-bottom: 5rem !important;
}

/* Resize font-size for xs displays */
@media (max-width: 400px) {
  h1 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 18px !important;
  }

  p {
    font-size: 18px !important;
  }
}