/* Font Styles */

/* Gallery Styles */


/* Book Table Styles */
input:focus,
textarea:focus {
  border-color: black !important;
  box-shadow: none !important;
  outline: none;
}

.book-btn:hover {
  transform: scale(1.2);
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Shared Styles */
p {
  font-size:1.3rem;
  color: grey;
}

.btn-gradient {
  background: linear-gradient(to bottom, #198754 90%, #145a32 90%);
  color: white;
  border: none;
  padding: 8px 15px;
}