/* Font Styles */

/* Shared Styles */
p {
  font-size:1.3rem;
  color: grey;
}

.btn-gradient {
  background: linear-gradient(to bottom, #198754 90%, #145a32 90%);
  color: white;
  border: none;
  padding: 8px 15px;
}